@import "styleguide";
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: $color0;
}
body {

  margin: 0;
  padding: 0;
  min-height: 100%;


}
//#content {
//  min-height: 100vh;
//
//  display: grid;
//  grid-template: 1fr 4fr / minmax(150px, 1fr) 3.5fr;
//  place-content: stretch;
//  grid-template-areas:
//  'header header'
//  'sidebar tasks';
//}
